@import url('https://fonts.googleapis.com/css?family=Gaegu:400,700');

body {
  font-family: 'Gaegu', cursive;
  font-size: 20px;
}

.vhll {
  position: fixed;
  bottom: 370px;
  left: 150px;
}

.vht {
  position: fixed;
  bottom: 370px;
  left: 600px;
}

.social_footer {
  font-size: 48px;
  color: black;
}

.vhlr {
  position: fixed;
  bottom: 370px;
  left: 875px;
  right: 150px;
}

.hll, .hlr  {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.newsletter_card {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
}

.btn-default {
  background-color: #FFFFFF;
  box-shadow: 1px 2px 3px #101010;
}

.btn-default:hover {
  background-color: #DCDCDC;
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
